
@font-face {
font-family: 'Matias Font';
font-style: normal;
font-weight: normal;
src: local('Matias Font'), url('Matias Font.woff') format('woff');
}

h1{

	font-family: 'Matias Font';
	font-size: 200%;
	color: 	white;
}